p,h1{
    padding: 10px;
    font-size: 16px;
    min-width: 100px;
    width: 300px;
    box-shadow: 0px 7px 12px 0px;
    border-radius: 5px;
}
#author{
    padding: 10px;
    font-size: 7px;
    min-width: 100px;
    width: 300px;
    box-shadow: 0px 7px 12px 0px;
    border-radius: 5px;
}